@import './fonts.css';
@import './colors.css';


html {
  overflow-y: scroll;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-color);
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

p, li {
  font-family: var(--font-secondary);
  font-size: 1rem;
}