---
import Header from '../pages/Header.astro';
import Footer from '../pages/Footer.astro';
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../src/assets/LOGOS/logoblancinegredrakaris.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Drakaris Percussió</title>
	</head>
	<body>
		<div class="layout-wrapper">
			<Header />
			<main class="layout-main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
